.inventory-page {
  padding-bottom: 120px;
}

.btn-disabled {
  opacity: 0.5;
}

.page-header {
  padding: 32px 24px 8px;
}

.page-title {
  font-size: 48px;
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}

.page-desc {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.4);
}
